### Java ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Spring Boot ###
target/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

### Logs ###
*.log
*.log.*

### IDE - IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### IDE - VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/

### Maven ###
.mvn/
!mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Environment ###
.env
#application-*.yml
#application-*.yaml
#application-*.properties

### Others ###
*.tmp
*.swp
*.bak
*.orig
*.rej

### Package Managers ###
node_modules/
package-lock.json
yarn.lock
